@import url("https://fonts.googleapis.com/css2?family=Gasoek+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

.productivity-box {
  position: relative;
  display: grid;
  align-content:space-around ;
  width: 100%;
  justify-content: center;
}
.calender {
  width: 300px;
  height: 250px;
  background: #fff;
  display: flex;
  align-items: top;
  border-radius: 10px;
  margin-left: 10px;
  margin-top: 10px;
}
.apps{
  position: relative;
  top: 100px;
  display: flex;
  justify-content:space-evenly;
  width: 80%;
}
.box, .box img{
  position: relative;
  width: 100px;
  height: 100px;
  border-width: 20px;
  border-radius: 10px;
  border-color: #000;
  filter: drop-shadow(.5px .5px 1px #000);
}

.left,.right {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  flex-direction: column;
}

.left p,
.right p {
  font-family: "Comforter", cursive;
}

.left {
  width: 50%;
  background: #fff;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}

.right {
  width: 50%;
  background: #a5d7e8;
  color: #fff;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  color: violet;
}
#date {
  font-size: 100px;
  line-height: 90px;
}

header{
  display: flex;
  justify-content: space-evenly;  
}
#main_header{
  display: flex;
  justify-content: space-between; 
}

.main {
  font-family: "Cairo Play", sans-serif;
  font-size: xx-large;
  margin-left: 10px;
}

.logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.5);
  filter: drop-shadow(5px 5px 10px #000);
}
nav {
  margin: 10px;
  background: #fff;
  border-radius: 50px;
  padding: 10px;
}
nav ul li {
  list-style: none;
  padding: 0px 20px;
  font-size: 18px;
  font-weight: 500;
  color: #777;
  cursor: pointer;
  display: inline-block;
  position: relative;
  z-index: 2;
  transition: color 0.5s;
}

nav ul li::after {
  content: "";
  background: #1f6e8c;
  width: 100%;
  height: 100%;
  border-radius: 30px;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  opacity: 0;
  transition: top 0.5s, opacity 0.5s;
}

nav ul li:hover::after {
  top: 50%;
  opacity: 1;
}

a {
  color: black;
  font-family:Georgia, 'Times New Roman', Times, serif;
  text-decoration: none;
}

a:hover {
  color: white;
}

.container {
  background-color: #1f6e8c;
  z-index: 5;
}
.slide {
  width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: center;
}
.tools {
  color: yellowgreen;
  font-family: "Gasoek One", sans-serif;
  font-weight: 10;
  margin-left: 10px;
}

/*... AboutMe Tab ..........................................................................................*/
#sub_header{
  display: grid;
}
.AboutMe{
  position: relative;
    color: #fff;
    align-items: center;
}
.images {
  width: 45%;
  height: 80%;
  position: absolute;
  top: 120px;
  left: 100px;
}
.images img {
  position: absolute;
  left: 30%;
  transform: translateX(-50%);
  transition: right 1s, left 1s;
}
.india-map {
  height: 100%;
}
.my-img {
  height: 80%;
  top: 120px;
}
.images:hover .my-img {
  left: 22%;
}  
.welcome {
  position: absolute;
  display: grid;
  place-items: center;
  width: 30%;
  transform: translate(170%, 30%);
}
h1 #first-name {
  font-weight: 10;
  color: chartreuse;
  font-family: "Gasoek One", sans-serif;
}
h1 #last-name {
  font-family: "Comforter", cursive;
  color: #fff;
}
h1 #Hi {
  color: #fff;
}
h1 #comma {
  color: brown;
}
p[draggable="juet"] {
  color: #fff;
  font-style: italic;
  line-height: 1.6;
  font-family: "Comforter", cursive;
}
p[draggable="Montserrat"] {
  font-family: "Montserrat", cursive;
  text-align: center;
  line-height: 1.6;
  font-style: normal;
}
.links{
  width: 100%;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  top: 10%;
  row-gap: 10px;
}
.l1, .l2{
  width: 90%;
  height: 55px;  
  background-color: #a5d7e8;
  border: 2px solid #fff;
  border-radius: 10px;
  text-align:center;
  font-size: 2.5em;
  font-weight: bold;
  filter: drop-shadow(5px 5px 10px #000);
}
#lkimg{
  position: relative;
  top: 6px;
  height: 40px;
  width: 40px;
}

/* Screen Response ........................................................................................*/
@media (width <= 600px) {  
  .logo{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.3);
    filter: drop-shadow(5px 5px 10px #000);
  }
  .productivity-box {
    top: 10px;
    justify-content: space-evenly;
  }
  .calender {
    position: relative;
    width: 15rem;
    height: 10rem;
    background: #fff;
    display: flex;
    align-items: top;
    border-radius: 10px;
    margin-left: 10px;
    margin-top: 10px;
  }
  .apps{
    justify-content: center;
    top: 20px;
  }

  .left,
  .right {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    flex-direction: column;
  }

  .left p,
  .right p {
    font-family: "Comforter", cursive;
  }

  .left {
    width: 50%;
    background: #fff;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
  }

  .right {
    width: 50%;
    background: #a5d7e8;
    color: #fff;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    color: violet;
  }
 .container{
  width: 100%;
  justify-items: center;
  
 }
  .images{
    display: block;
    height: 100%;    
    place-items: center;
  }
  .images img {
    position: absolute;
    left: 50%;
    transform: translateX(-40%);
    transition: right 1s, left 1s;
  }
  .india-map {
    height: 100%;
  }
  .my-img {
    height: 80%;
  }
  .images:hover .my-img {
    left: 35%;
  }  
  .welcome { 
    position: absolute;
    place-items: center;
    justify-content: center;
    font-size:medium;  
    text-align: center;
    width: 100%; 
    right: 650px;
    bottom: -460px;
  }
  #otherProjects{
    position: relative; 
    width: 100%; 
    bottom: -700px;
  }
  .l2{
    position: relative;
    width: 90%;
    height: 55px;  
    background-color: #a5d7e8;
    border: 2px solid #fff;
    border-radius: 10px;
    text-align:center;
    font-size: 1.5em;
    font-weight: bold;
    filter: drop-shadow(5px 5px 10px #000);
    left: 40px;
  }
  .l1{
    font-size: 1.5em;
  }
}
